<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
		<style>
			body {
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			}
		</style>
	</head>
	<body>
		<h1>URL Shortener</h1>
		<div>
			<form method="POST" action="/url">
				<label for="inputUrl">Enter your URL:</label>
				<input
					id="inputUrl"
					type="text"
					placeholder="http://example.com"
					name="redirectUrl"
				/>
				<button type="submit">Generate</button>
			</form>

			<% if (locals.shortUrl) { %>
			<p>Click here: <a href="<%= shortUrl %>"><%= shortUrl %></a></p>
			<% } %>
			<div>
				<% if (locals.urls) { %>
				<table border="1" cellspacing="0" cellpadding="8">
					<thead>
						<tr>
							<th>S No.</th>
							<th>Short URL</th>
							<th>Redirect URL</th>
							<th>No. of Clicks</th>
						</tr>
					</thead>
					<tbody>
						<% urls.forEach((url, index) => { %>
						<tr>
							<td><%= index + 1 %></td>
							<td>
								<a href="/url/<%= url.shortId %>"
									>http://localhost:8000/url/<%= url.shortId %></a
								>
							</td>
							<td>
								<a href="<%= url.redirectUrl %>"><%= url.redirectUrl %></a>
							</td>
							<td><%= url.visitHistory.length %></td>
						</tr>
						<% }) %>
					</tbody>
				</table>
				<% } else { %>
				<p>No URLs found.</p>
				<% } %>
			</div>
		</div>
	</body>
</html>
